h1 {
    font-family: Montserrat;
    font-size: 4rem;
    letter-spacing: -0.4rem;
    font-weight: normal;
    color: --primary-color;
    text-align: center;
    margin-bottom: 2.5rem;
}

.container {
    margin-top: 10rem;
}

.double {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    pointer-events: all;
}

.result {

    height: 6rem;
    border: 2px solid #006A71;
    background: #FFFFDD;
    border-radius: 3rem;
    box-shadow: 0 1rem 1rem -1rem;
    
}