h1 {
    font-family: Montserrat;
    font-size: 4rem;
    letter-spacing: -0.4rem;
    font-weight: normal;
    color: --primary-color;
    text-align: center;
    margin-bottom: 2.5rem;
}

.container {
    margin-top: 10rem;
}

.input {
    position: relative;
    margin-bottom: 2.8rem;
    
}
label {
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #065446;
    transition: ease-in-out 1s;
}
input {
    height: 6rem;
    border-radius: 3rem;
    width: 100%;
    background-color: #FFFFDD;
    border: 2px solid #006A71;
    font-size: 2rem;
    padding: 0.5rem 5rem 0;
}

.input:focus-within label,
label.valued{
    left: 20%;
    top: 0;
    font-size: 1rem;
    
    padding: 0.5rem;
    background-color: #FFFFDD;
    border: 1px solid #006A71;
    border-radius: 3rem;

    transition: ease-in-out 1s;
}
